<h1>KarmaVille's Most Famous</h1>
<table class="table table-bordered table-striped">
  <tr>
    <th>Karma</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <% @counter = 1 %>
  <% @users.each do |user| %>
    <td><%= @counter %></td>
    <%= render 'user_row', :user => user %>
    <% @counter += 1 %>
  <% end %>
</table>

<div class="pagination pagination-large pagination-centered">

  <ul>
    <li><% if @page > 1 %>
        <a href="<%= users_path page: @page - 1 %>">Prev</a>
      <% else %>
        <a class="disabled">Prev</a>
      <% end %>
    </li>
    <% 1.upto(5) do |page_offset| %>
      <li class="<%= @page%5 == 1 ? 'active' : 'disabled' %>">
        <a href="<%= users_path page: @page-(@page%5)+page_offset %>"><%= @page-(@page%5)+page_offset %></a>
      </li>
    <% end %>
    <% if false %>
      # loop above replaced this code (commented out):
      <li class='<%= @page%5 == 2 ? 'active' : 'disabled' %>'><a href="<%= users_path page: @page-(@page%5)+1 %>"><%= @page-(@page%5)+1 %></a></li>
      <li class='<%= @page%5 == 2 ? 'active' : 'disabled' %>'><a href="<%= users_path page: @page-(@page%5)+2 %>"><%= @page-(@page%5)+2 %></a></li>
      <li class='<%= @page%5 == 3 ? 'active' : 'disabled' %>'><a href="<%= users_path page: @page-(@page%5)+3 %>"><%= @page-(@page%5)+3 %></a></li>
      <li class='<%= @page%5 == 4 ? 'active' : 'disabled' %>'><a href="<%= users_path page: @page-(@page%5)+4 %>"><%= @page-(@page%5)+4 %></a></li>
      <li class='<%= @page%5 == 5 ? 'active' : 'disabled' %>'><a href="<%= users_path page: @page-(@page%5)+5 %>"><%= @page-(@page%5)+5 %></a></li>
    <% end %>
    <li><% if @page < @number_of_pages %>
      <a href="<%= users_path page: @page + 1 %>">Next</a>
    <% else %>
      <a class="disabled">Next</a>
    <% end %>
    </li>
  </ul>
</div>
